@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color_text-primary:#CE940D;
    --color_text-secundary:#101E2C;
    --color_text-tertiary:#A8E5F1;
    --main_color-primary:green;
    --main_color-secundari:#1023C3;
    --background-color:#99FFFD;
    --lowText_font_size:16px;
    --text_size_title:40px;
    --text_title_card:24px;
    --text_title_cardv2:20px;
    --text_paragraph:16px;
    --box_shadow-primary:0px 6px 50px rgba(0,0,0,0.2);
}
/*Header*/

header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
}

.container_header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 80px;
}

.logo img{
    width: 150px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu nav{
    margin: 0px 20px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a{
    color: var(--color_text-secundary);
    font-size: var(--lowText_font_size);
    position: relative;
}

.menu nav ul li a:hover{
    color:var(--color_text-primary) ;
}

.btn_quote{
    display: block;
    padding: 8px 40px;
    border: 2px solid var(--color_text-primary);
    border-radius: 8px;
    font-weight: 500;
    color: var(--color_text-tertiary);
    margin: 0px 20px;
    transition: all 300ms;
}

.btn_quote:hover{
    color:white;
    background: var(--color_text-primary);
}

.menu .socialMedia{
    margin: 0px 10px;
}

.menu .socialMedia a{
    margin: 0px 4px;
}
.menu .socialMedia img{
    width: 40px;
}

/*End Header*/

/*Portada Inicio*/

.container_cover{
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--main_color-secundari);
}

.cover{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.tex_cover{
    width: 100%;
    padding-right: 150px;
}

.text_cover h1{
    font-size: 50px;
    color: var(--color_text-secundary);
}

.text_cover p{
    font-size:var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-tertiary);
}

.btn_text{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--main_color-primary);
    color: aquamarine;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}

.btn_text:hover{
    background: transparent;
    border: 2px solid var(--main_color-primary);
    color: var(--color_text-tertiary);
}

.image_cover{
    width: 100%;
  margin-left: 120px;
}

.image_cover img{
    width: 550px;
    margin-left: 180px;
}

/*End Portada Inicio*/

*Estilos Generales Cards*/

.container__card-primary{
    padding-top: 100px;
}

.card__primary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text__card-primary{
    max-width: 800px;
    margin: auto;
}

.text__card-primary p{
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text__card-primary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}

.container__box-cardPrimary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.box__card-primary{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}

.box__card-primary:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

.box__card-primary h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box__card-primary p{
    margin-top: 20px;
}

/*End Estilos Generales Cards*/

/*Sobre Nosotros*/

.container__about{
    padding: 100px 0px;
    background: var(--background-color);
    margin-top: 100px;
}

.about{
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text__about{
    width: 100%;
    padding-right: 40px;
}

.text__about h1{
    color: var(--color_text-secundary);
    font-weight: 600;
}

.text__about p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--main_color-secundari);
}

.text__about a{
    display: block;
    padding: 8px 40px;
    border: 2px solid var(--color_text-primary);
    border-radius: 8px;
    font-weight: 500;
    color: var(--color_text-secundary);
    margin: 0px 20px;
    transition: all 300ms;
    margin-right: 200px;
    margin-top: 10px;
}

.text__about a:hover{
    color: white;
    background-color: var(--main_color-secundari);
    border: 2px solid var(--color_text-primary);
}

.image__about{
   margin-left: 100px;
    width: 100%;
    display: flex;
}

.image__about img{
    width: 300px;
    margin-left: 10px;
}

/*End Sobre Nosotros*/

/*Servicios*/

.card__service img{
    width: 50px;
}

.card__service i{
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
    color: var(--color_text-primary);
}

/*End Servicios*/

/*Proyectos*/

.container__proyect{
    padding: 100px 0px;
    background: var(--background-color);
    margin-top: 100px;
}

.container__card-proyect {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card__proyect {
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
    text-align: left;
    background-size: cover;
    background-position: center;
}

.card__proyect h2, .card__proyect p {
    margin: 0;
}

.card__proyect:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}

/*End Proyectos*/

.logo__original4{
    padding-top: 10px;
    padding-bottom: 60px;
}

.logo__original5{
    padding-top: 10px;
    padding-bottom: 30px;
}

.logo__original6{
    padding-top: 10px;
    padding-bottom: 25px;
}
#logoPorshe{
    padding-right: 110px;
}



#arrow{
    margin-top: 30px;
    font-size: 35px;
}

#hacemos{
    background-color: var(--color_text-cuartiary);
}

#cartah{
    background-color: #7c7c7c;
}

.yo{
    width: 100px;
    height:130px;

}
.box__card-primary3{
    margin-bottom: -300px;
    max-width: 500px;
    min-height: 0px;
    background-color: #686768;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
    
    
}

.box__card-primary3:hover{

    color: white;
    max-width: 360px;
    ;
    box-shadow: 0px 2px 11px 0px rgba(255,255,255,0.69);
    -webkit-box-shadow: 0px 2px 11px 0px rgba(255,255,255,0.69);
    -moz-box-shadow: 0px 2px 11px 0px rgba(255,255,255,0.69);

}
.foto{
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
}

.equipo{
    margin-top: -8px;
    color: var(--color_text-tertiary);
}
.name{

   color: #fafbfe;
}

.presentacion{

    background-color:var(--main_color-secondary);
    width: 400px;
    height: 500px;
    margin-left: 400px;
    border-radius: 30px;
}

#fotop{
    transition: 2s;
    margin-top: 30px;
    width: 280px;
    height: 280px;
    border-radius: 1000px;
    border: 12px solid #b9b8b8;}



.info{
    margin-top: 10px;
}
.info h2{

    font-size: 30px;
    color: white;

}
.info p{
    color: #a8a1a8;
    margin-top: -10px;
}

.rsociales{
    margin-top: 30px;
   
    border-top: 2px solid #a8a1a8;
    display: flex;
    justify-content:center;
    gap: 30px;
    cursor: pointer;
}
.rsociales i:hover{
    color: var(--main_color-secundary)
    
}

.container__proyect{
    padding: 100px 0px;
    background: var(--background-color);
    margin-top: 100px;
}

.container__card-proyect {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card__proyect {
    width: 300px;
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
    text-align: left;
    background-size: cover;
    background-position: center;
    box-shadow: 0px -37px 96px 11px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 0px -37px 96px 11px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 0px -37px 96px 11px rgba(0,0,0,0.75) inset;
}

.card__proyect h2, .card__proyect p {
    margin: 0;
}

.card__proyect:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}


.rsociales i{
    font-size: 30px;
    margin-top: 15px;
    color: var(--color_text-secundary);
    
    border-radius: 50px;
}
#equip{
    background-color: #ffffff;
    margin-top: -10px;
}

#nuestros_proyectos{

    color: var(--main_color-secondary);
}
#iconos{
    font-size: 30px;
    cursor: pointer;
    color: #000000;
}

#iconos:hover{
    color: #5a5a5a;
}
.conozca {
    font-weight:500;
    color: #5a5a5a;
}
#icono2{
    color: #d3d3d3;
}
#icono2:hover{
    color: #f3f3f3;
}

.contacta_nosotros{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
    justify-content:space-around;
}
.title{
    
    text-align: center;}
    .contacta_con{
        margin-top: 50px;
    }
    #conozca{
        font-weight: 500;
        color: #686768;
    }

    #imgF{
        margin-left: 30px;
        box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.65);
        -webkit-box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.65);
        -moz-box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.65);
    }


    input{
        text-align: center;
        border-radius: 10px;
        border: none;
        width: 500px;
        height: 40px;
        box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.65);
-webkit-box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.65);
-moz-box-shadow: 0px 0px 13px -6px rgba(0,0,0,0.65);
    }

    iframe{
        margin-left: 6px;
    }

    #button{
        width: 100px;
        background-color: #000000;
        color: white;
        box-shadow: none;
        border-radius: 30px;
    }
    #button:hover{
        border: 2px solid #000;
        color: #000000;
        background-color: transparent;
        transition: 2s all;
    }

    .footer{
        background-color: #000;
        color: white;
        display: flex;
        justify-content: center;
        gap: 100px;
        height: 500px;
    }

    .containers_fo{
      margin-top: 130px;
        text-align: center;
    }

    .containers_fo:hover{
        color: #686768;
    }
    #footer_input{
        width: 200px;
        border-radius: 30px;
    }
    #button_fo{
        width: 100px;
        border-radius: 30px;
        background-color: #5a5a5a;
        margin-right: 90px;
    }
    #button_fo:hover{
        border: 2px solid #5a5a5a;
        background-color: transparent;
        color: #5a5a5a;
    }

    #container2{
        text-align: center;
    }
    .conta3{
        text-align: center;
    }

    .quick{
        display: flex;
        gap: 30px;
    }
   .quick_links:hover{
    color: #686768;
    cursor: pointer;
   }
    #about{
        margin-left: 17px;
    }

    .work{
        text-align: center;
    }

    #icono3{
        color: white;
        font-size: 30px;

    }
    #icono3:hover{
        color: #8f8f8f;
    }
    #icono4{
        font-size: 20px;
    }
    .footer2{
        background-color: #a8a1a8;
        text-align: center;
        height:  30px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

   
    #messaje{
        height: 100px;
    }

